* {
  box-sizing: border-box;
	margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form {
	display: grid;
	grid-template-columns: 50% 50%;
	background: url('https://s3.amazonaws.com/luxe-prod-website/images/The_Last_Bookstore_Los_Angeles.2e16d0ba.fill-1200x600.jpg') rgba(15, 15, 15, 0.9) left top / cover no-repeat scroll;
	border-radius: 5px;
  box-shadow: 0 0 15px #1c1c1c;
  margin: 1.5em auto 0 auto;
  padding: 2em;
  height: 100vh;
}

.text{
	position: relative;
    top: 28%;
    left: 12%;	
}


.ctn-img-title-login {
  text-align: center;
}

.img-login {
  max-width: 7em;
	pointer-events: none;
  width: 90%;
}

.title-form-login {
  color: #00ffff;
	font: bold 2em 'Dancing Script', sans-serif;
	margin-top: 25px;
}

.ctn-input {  
  margin-top: 50px;
  position: relative;
}

.support-text {
  color: #cdcdcd;
  font: normal 15px 'Quicksand', sans-serif;
	left: 2px;
  pointer-events: none;
  position: absolute;
  top: 2px;
  transition: 0.3s ease all;
}

.support-text.active-input {
  color: #fffff;
  font-size: 13px;
  transform: translateY(-125%);
}

.effect-input {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-bottom: 1px solid #cdcdcd;
  color: #ffffff;
  display: block;
  font: normal 15px 'Quicksand', sans-serif;
  height: 30px;
  letter-spacing: 1px;
  max-width: 400px;
  padding: 1em 1.5em 1em 2px;
  width: 100%;
}

.validate-input:invalid {
  border-bottom-color: #ff807c;
}

.bar:before,
.bar:after {
  background-color: #ffffff;
	border-radius: 50%;
  bottom: 0;
  content: '';
  height: 2px;
  position: absolute;
  transition: 0.5s ease all;
  width: 0;
}

.bar {
  display: block;
  position: relative;
}

.bar:before {
	left: auto;
	right: 0;
}

.bar.active-input:before,
.bar.active-input:after {
   width: 75%;
}

.validate-input:invalid + .bar:before,
.validate-input:invalid + .bar:after {
  background-color: #ff807c;
}

.clear-input,
.eye {
  bottom: 10px;
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 12px;
  position: absolute;
}

.clear-input {
  right: 5px;
}

.eye {
  right: 20px;
}

.validate-input:invalid + .bar .clear-input,
.validate-input:invalid + .bar .eye {
  color: #ff807c;
}

.ctn-btns {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.btns {
	background-color: #1d7566;
	border-radius: 2px;
	border-style: none;
	box-shadow: 1px 0px #202020,
		          0px 1px #202020,
		          2px 1px #202020,
							1px 2px #202020,
		 				  3px 2px #202020,
		          2px 3px #202020,
		          4px 3px #202020,
		          3px 4px #202020,
		          5px 4px #202020,
		          4px 5px #202020,
		          6px 5px #202020,
		   				5px 6px #202020;
	color: #ffffff;
	cursor: pointer;
	font: normal 13px 'Quicksand', sans-serif;
	letter-spacing: 1px;
	margin: 0 5px;
	padding: 10px 20px;
	transition: 0.3s ease all;
}

.btns:hover,
.btns:focus {
	background-color: #20806f;
}

.btns:active {
	box-shadow: 1px 0px #202020,
		          0px 1px #202020,
		          2px 1px #202020,
		          3px 2px #202020,
		          2px 3px #202020,
		 					4px 3px #202020,
		 					3px 4px #202020;
  transform: translate(2px);
}

.position-button{
	justify-content: space-between;
    display: flex;
    margin-left: 211px;
    margin-right: 656px;
}